body{
    z-index:5;
    display: flex;
    margin:auto;
    border:0px;
    padding:0px;
    width:100%;
    background-color: #F5F6CE;
}
body img .background{
    z-index: -1;
}
header{
    z-index: 5;
    position: fixed;
    height: 80px;
    width: 100%;
    margin:0 auto;
    background-color: #D8D8D8;
    opacity: 0.8;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
}
li{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
#brand{
    float: left;
    display: block;
    margin:0 auto;
    border:0px;
    padding-top:10px;
}
.navbar-menu{
    float: right;
    margin:0 auto;
    border:0px;
    padding:0px;
    width: 50%;
}
.navbar-menu li a{
    color: white;
}
.navbar-menu a:link{
    text-decoration: none;
    font-size: 20px;
}
.navbar-menu a:hover{
    color: green;
}
.header li{
    display: inline-block;
    padding:10;
    border: 20px;
    margin: 0;
}
.navbar-icons{
    position: fixed;
    border:0;
    float: left;
    height: 150px;
    width: 80px;
    text-decoration: none;
    list-style: none;
    margin-top:80px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 0px;
    padding-right: 0px;
}
.navbar-icons li img{
    width: 40px;
    height: 40px;
}
.navbar-icons li img:hover{
    width: 50px;
    height: 50px;
}
#invitation-text{
    margin-top: 80px;
    margin-left: 80px;
    padding: 150px;
    text-align: center;
    font-family: Georgia; 
    font-style: oblique;
    font-weight: 600;
}
#invitation-button{
    padding-top: 20px;
    padding-left:200px;
    padding-right:200px;
}
.section{
    margin:10px;
    padding: 10px;
}
#myphoto{
    margin-left: 100px;
    width: 250px;
    height: 325px;
    border-radius: 50px;
}
section h1{
    text-align:center;
    background-color:#D8D8D8; 
    opacity: 0.8;
}
#aboutme{
    margin-left: 100px;
    padding: 30px;
    font-style: oblique;
    font-size: 20px;
}
#myphoto{
    float: left;
}
.mytext{
    margin-left: 360px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 100px;
}
#skills{
    margin-left: 100px;
}
#skills li{
    list-style: none;
}
#portfolio{
    margin-left: 100px;
}
#portfolio img{
    padding: 50px;
    width: 325px;
    height: 300px;
}
.footer{
    width: 100%;
    margin: 0px;
    padding: 20px;
    height: 80px;
    float:bottom;
}