html{
    font-family: Georgia;
    font-size: 25px;
}
#page-wrap{
    max-width: 1500px;
    width:100%;
    margin:0 auto;
}
.background{
    margin:auto;
}
div.navbar-menu{
    width: 1500px;
    margin:0px auto 0px auto;
}
.navbar-menu{
    position: relative;
    z-index:2;
    top:0;
    left: 0;
    width: 100%;
    height: 85px;
    text-align: center;
    padding:0;
    background-color: #D8D8D8;
    opacity: 0.8;
}
.header .navbar-menu li{
    display: inline-block;
    border: 20px;
    margin: 0;
    padding: 0px 5% 0px 5%;
}
.navbar-menu ul li a{
    text-decoration: none;
     color: black;
     font-size:30px ;
}
.navbar-menu ul li a:hover{
    color:white;
}
.background{
    margin:0 auto;
    left:0px;
    top:0px;
    position:fixed;
    z-index: -1;
}
#invitation-text{
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    top:350px;
    border:0;
    width:100%;
    text-align: center;
    color: #610B4B;
    font-family: Georgia; 
    font-weight: 600;
    background-color: #edd9c0;
    opacity:0.8;
}
.button{
    padding: 30px 32px;
}
button{
    background-color: #4CAF50;
    border: none;
    border-radius:50%;
    padding: 15px 32px;
    text-align: center;
}
button a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
main{
    box-sizing: border-box;
    margin-top:535px;
}
clear{
    clear:left;
}
#myphoto{
    float:left;
    margin-left: 100px;
    border-radius: 50px;
}
#aboutme{
    border:10px solid;
    width: 70%;
    float:left;
    background-color: #e6e6ff;
}
#skills{
    border:10px solid;
    width: 70%;
    float:right;
    background-color:  #ffffcc;
}
#portfolio{
    border:10px solid;
    width: 70%;
    float:left;
    background-color: #e6e6ff;
}
#contacts{
    border:10px solid;
    width: 70%;
    float:right;
    background-color:  #ffffcc;
}



